<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 2em;
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #777;
        }
        
    </style>
</head>
<body>
    <h1><img height="200px"  src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721779200&semt=ais_user" alt=""></h1>
    <h1>Oops! Page Not Found</h1>
    <p>The page you are looking for might have been removed or is temporarily unavailable.</p>
 </body>
</html>