<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <style>
        button{

            background: greenyellow;
            border: 0;
            padding: 10px 18px;
            border-radius: 2px;
            box-shadow: 10px 10px 10px rgba(245, 65, 0, 0.1);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Home Page 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis suscipit illo ea nesciunt ad eligendi. Modi.</p>

    <!-- <h2><%=2+5%></h2> -->
      <h2><%= "durgesh".toUpperCase() %></h2>
         <button>Click me</button>
</body>
</html>